# Server
NODE_ENV=development
HOST=127.0.0.1
PORT=3000

# SQLite and content blobs. The directory is created on first start.
APP_DATA_DIR=.data

# Local Computer (only needed on the machine running anc-computer)
# ANC_LOCAL_DATA_DIR=
